body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

#display {
  background-color : rgb(64, 64, 92);
  background-repeat: no-repeat;
  background-size  : contain;
  width            : 100%;
  min-height       : 100vh;
}


nav {
  display        : flex;
  flex-flow: wrap;
  position       : fixed;
  top : 0;
  left : 0;
}
nav hr {
  width: 100%;
  height: 0px;
  border: none;
  margin: 0;
}
#menu-button {
  background : rgba(255, 255, 255, 0.33);
  cursor: pointer;
  justify-content: center;
  align-items    : center;
  font-family    : monospace;
  opacity        : 0.5;
  font-size      : 28px;
  padding        : 2px 0 8px 12px;
}
#counter {
  background : rgba(255, 255, 255, 0.33);
  display        : flex;
  justify-content: center;
  align-items    : center;
  font-family    : monospace;
  opacity        : 0.5;
  padding-left        : 16px;
  padding-right       : 16px;
}
#menu {
  display: none;
}
#menu.visible {
  display: block;
  background : rgba(255, 255, 255, 0.25);
  padding: 0 16px 16px 16px;
}

#menu .sections {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
}
#menu .sections .item {
  display: flex;
  opacity: 0.8;
  cursor: pointer;
}
#menu .sections .item:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, .25);
}
#menu .sections .item img {
  height: 96px;
  border: 1px solid #444;
}
#menu .sections .item .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 8px 8px 8px;
  font-size: 12px;
}
#menu .sections .item .info div {
  white-space: pre;
}

#fullscreen-button {
  cursor         : pointer;
  display        : flex;
  justify-content: center;
  align-items    : center;
  opacity        : 0.25;
  background     : rgb(255, 255, 255);
  position       : fixed;
  top            : 0;
  right          : 0;
  width          : 32px;
  height         : 32px;
}

#fullscreen-button.fullscreen svg#icon-exit-fullscreen { display: block; }
#fullscreen-button:not(.fullscreen) svg#icon-exit-fullscreen { display: none; }
#fullscreen-button.fullscreen svg#icon-fullscreen { display: none; }
#fullscreen-button:not(.fullscreen) svg#icon-fullscreen { display: block; }

#nav-prev,
#nav-next {
  position  : fixed;
  top       : 0;
  opacity   : 0.5;
  min-height: 100vh;
  width     : 50vw;
}

#nav-prev {
  left: 0;
}

#nav-next {
  right: 0;
}
