img { max-width: 100%; }
section {
  display: flex;
  flex-wrap: wrap;
}

figure .figure-head {
  display: flex;
  justify-content: space-between;
  padding: 2px 8px;
  background: rgba(255, 255, 255, 0.5);
}


@media (max-width: 1080px) { // NOTE The resolution of @gorbiz OnePlus 7 Pro
  figure .figure-head {
    font-size: 9px; /* smaller text on mobile screen */
  }
}

figure figcaption {
  display: flex;
  justify-content: space-between;
}

figure figcaption span {
  font-weight: bold;
  color: white;
}

/* figure .filename {} */
figure .age { opacity: 0.66; }

figure .filename:before {
  content: '⬤ ';
  text-shadow: 1px 1px #222;
}
figure.age-below-10m .filename:before { color: rgb(0, 200, 0);}
figure.age-below-60m .filename:before { color: rgb(255, 127, 0);}
figure.age-above-60m .filename:before { color: rgb(255, 0, 0);}

figure .filename .nr { opacity: 0.5; }
